.vscode/
misc/monitoring/
misc/pgadmin/

pgdata/

command-service/target/
command-service/*.log
command-service/.classpath
command-service/.project
command-service/.settings/
command-service/.idea/
command-service/*.iml
command-service/*.native*

query-service/target/
query-service/*.log
query-service/.classpath
query-service/.project
query-service/.settings/
query-service/.idea/
query-service/*.iml
query-service/*.native*

kafka-connect/cache/
kafka-connect/logs/

note.txt
docker-compose copy.yml
load-test/
